body {
	font-size: 80%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
ul {
	list-style-type: none;
	text-align: center;
	}

p {
	text-align: center;
	}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}

#page {
	width: 960px;
	border: 4px double #000
	padding: 20px;	
	margin-right: auto;
	margin-left: auto;
	}

#logo {
	width: 303px;
	margin-top: 10px:
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	}
	
	/*-- Navigation --*/
		
#navigation {
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	padding: 20px;
	}

#current-page {
	width: 625px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	display: inline;
	}

a:link {
	color: blue;
	text-decoration: none;
	}
a:visited {
  	color: #7d82bc;
  	text-decoration: none;
  	}
a:hover {
  	color: blue;
  	text-decoration: underline;
	}
a:active {
  	color: #343740;
	}

	li {
	display:inline;
	margin: 30px;
	}

	/*-- Navigation End --*/

	/*-- Paragraph --*/
p {
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	}



